<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div id="Con">
        <h1 class="hidden">Top Image</h1>
        <header class="Topimg">
            <div class="TopBox">
                <div class="logoCon">
                    <a href="/">
                    <img src="images/logo.svg" alt="logo">
                </a>
                </div>
                
                <div class="TopRCon">
                    <h1 class="hidden">menu</h1>
                    <nav class="navCon">
                       <ul> <a href="index.html"> Home </a> </ul>
                       <ul> <a href="video"> Video </a>  </ul>
                       <ul> <a href="audio"> Audio </a> </ul>
                   </nav>
                   <h1 class="hidden">description</h1>
                   <div class="TopDes">
                       <p>Are you bored?</p>
                       <p>Would you like to join us?</p>
                   </div>
                </div>
            </div>
            
        </header>
        <main class="mainCon">
            <h1 class="hidden">videoDescription</h1>
            <div class="DesCon1">
                <div class="mainDesBox1">
                    <div class="mainDes1">
                        <h2>VIDEO</h2>
                    </div>
                    <div class="mainDes2">
                        <article>
                            Romantic comedy, romantic comedy, horror thriller.
                        </article>
                        <p>We have a lot of movies.</p>
                        <a href="video"  class="btn"> Go to VIDEO</a>
                    </div>
                 </div>
                <div class="mainVideoImg">
                    <img src="images/video_main.png" alt="video">
                </div>
            </div>
            <h1 class="hidden">AudioDescription</h1>
            <div class="DesCon1">
                <div class="mainVideoImg">
                    <img src="images/audio_main.png" alt="audio">
                </div>
                <div class="mainDesBox1">
                    <div class="maintitle2">
                        <h2>Audio</h2>
                    </div>
                    <div class="mainDes2">
                        <article>
                            Romantic comedy, romantic comedy, horror thriller.
                        </article>
                        <p>We have a lot of movies.</p>
                         <a href="audio" class="btn">Go to AUDIO </a>
                    </div>
                 </div>
                
            </div>
        </main>
        <footer class="footerCon">
            <p>DESIGNED BY OKSIL JOO</p>
        </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js" type="module" defer></script>
</body>
</html>