<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css" type="text/css">
    <title>video</title>
</head>
<body>
    <div id="Con">
        <h1 class="hidden">Top Image</h1>
        <header class="TopVideoimg">
            <div class="TopBox">
                <div class="logoCon">
                    <a href="/">
                    <img src="images/images/logo.svg" alt="logo">
                </a>
                </div>
                
                <div class="TopRCon">
                    <h1 class="hidden">menu</h1>
                    <nav class="navCon">
                       <ul> <a href="/"> Home </a> </ul>
                       <ul> <a href="video"> Video </a>  </ul>
                       <ul> <a href="audio"> Audio </a> </ul>
                   </nav>
                   <h1 class="hidden">description</h1>
                   <div class="TopDes">
                       <p>Do you like movies?</p>
                       <p>What kind of movie?</p>
                   </div>
                </div>
            </div>
            
        </header>
        <main class="mainCon">
            <h1 class="hidden">Top 10</h1>
            <div class="DesaudioCon1">

                    <h2>Top10</h2>

               <div class="folklist">
                   <thumb
                    v-on:showdata="popLightBox"
                    v-for="item in researchData"
                    :piece="item"
                    :key="item.id"
                   >
                   </thumb>
                    <!-- <div class="videoFolk">
                        <img src="images/arrival.png" alt="awol">
                        <h3>Ukulele</h3>
                    </div>
                    <div class="videoFolk">
                        <img src="images/arrival.png" alt="awol">                       
                         <h3>Ukulele</h3>
                    </div>
                    <div class="videoFolk">
                        <img src="images/arrival.png" alt="awol">                        
                        <h3>Ukulele</h3>            
                    </div>
                    <div class="videoFolk">
                        <img src="images/arrival.png" alt="awol">                        
                        <h3>Ukulele</h3>              
                   </div>
                   <div class="videoFolk">
                        <img src="images/arrival.png" alt="awol">                        
                        <h3>Ukulele</h3>
                    </div> -->
                </div>
                <lightbox class="Lightbox"
                v-on:closelb="closeLightBox" 
                class="lightbox" 
                :class='{ visible: isVisible }' 
                :piece="currentResearchItem">
            </lightbox>
            </div>

            <h1 class="hidden">DRAMAS</h1>
            <div class="DesaudioCon1">

                    <h2>MEMORABLE DRAMAS</h2>

               <div class="folklist">
                    <div class="videoFolk">
                        <img src="images/arrival.png" alt="awol">
                        <h3>Ukulele</h3>
                    </div>
                    <div class="videoFolk">
                        <img src="images/arrival.png" alt="awol">                       
                         <h3>Ukulele</h3>
                    </div>
                    <div class="videoFolk">
                        <img src="images/arrival.png" alt="awol">                        
                        <h3>Ukulele</h3>            
                    </div>
                    <div class="videoFolk">
                        <img src="images/arrival.png" alt="awol">                        
                        <h3>Ukulele</h3>              
                   </div>
                   <div class="videoFolk">
                        <img src="images/arrival.png" alt="awol">                        
                        <h3>Ukulele</h3>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footerCon">
            <p>DESIGNED BY OKSIL JOO</p>
        </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js" type="module" defer></script>
</body>
</html>