
.TopStoryDes {
    padding-top: 66px;
    padding-right: 50px;
    width: 426px;
}

.storytitle {
    font-size: 30px;
    padding-bottom: 20px;
}

.storyinfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.storyinfo p {
    padding-right: 20px;
    font-family: "Helvetica", sans-serif;
    font-size: 14px
    
}

.videoFolk {
    width: 170px;
    margin: 0px;
    padding-right: 20px;
}

.videoFolk h3 {
   text-align: right;
}